@media (max-width:1100px) {
  .cuadricula{
    grid-template-columns: repeat(4, auto);
  }
@media (max-width:850px) {
  .cuadricula{
    grid-template-columns: repeat(3, auto);
  }
@media (max-width:650px) {
  .cuadricula{
    grid-template-columns: repeat(2, auto);
  }
@media (max-width:450px) {
  .cuadricula{
    grid-template-columns: repeat(1, auto);
  }
